<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      template="/pages/public/index.xhtml">
    
    <ui:define name="content">

        <h:form>
             <p:growl id="growl" showDetail="true" />  
            <h:panelGrid columns="2">          
                <p:outputLabel for="email" value="Email: "/>
                <p:inputText id="email" value="#{cadastroUsuarioMB.email}"/>

                <p:outputLabel for="senha" value="Senha: "/>
                <p:password id="senha" value="#{cadastroUsuarioMB.senha}"/>

                <p:outputLabel for="nome" value="Nome: "/>
                <p:inputText id="nome" value="#{cadastroUsuarioMB.nome}"/>

                <p:outputLabel for="sexo" value="Sexo: "/>
                <p:selectOneRadio id="sexo" value="#{cadastroUsuarioMB.sexo}">
                    <f:selectItem itemLabel="Masculino" itemValue="M"/>
                    <f:selectItem itemLabel="Feminino" itemValue="F"/>
                </p:selectOneRadio>

                <p:outputLabel for="data" value="Data: "/>
                <p:calendar id="data" value="#{cadastroUsuarioMB.data}" mask="true" pattern="dd/MM/yyyy"/>

                <f:facet name="footer">
                    <p:commandButton value="Cadastrar" action="#{cadastroUsuarioMB.cadastrar()}" update="growl"/>
                </f:facet>
            </h:panelGrid>
        </h:form>
    </ui:define>
</ui:composition>

