<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    <h:head>
        <title>Segundo Projeto BDNC</title>
    </h:head>
    <h:body>

        <h:form>	
            <p:menubar>
                <p:menuitem value="Visualizar Adesivos" url="/pages/public/visualizar-adesivos.jsf" />
                <p:menuitem value="Cadastrar" rendered="#{not identity.isLoggedIn()}" url="/pages/public/cadastro-usuario.jsf"/>
                <p:menuitem value="Login" rendered="#{not identity.isLoggedIn()}" url="/pages/public/login.jsf"/>
                <p:menuitem value="Cadastrar Adesivo" rendered="#{identity.isLoggedIn() and permissoesMB.admin()}"/>
                <p:menuitem value="Visualizar Carrinho de compra" rendered="#{identity.isLoggedIn()}" url="/pages/public/visualizar-carrinho.jsf"/>
                <p:menuitem value="Visualizar Produtos Recomendados" rendered="#{identity.isLoggedIn()}" url="/pages/public/visualizar-recomendados.jsf"/>
                <p:menuitem value="Logoff" rendered="#{identity.isLoggedIn()}" url="/logout"/>
            </p:menubar>
        </h:form>

        <ui:insert name="content"/>

    </h:body>
</html>

