<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
                template="/pages/public/index.xhtml">

    <ui:define name="content">

        <h:form>            

            <h:outputText value="Login"/>
            
            <h:panelGrid columns="2" cellpadding="5">
                <h:outputLabel for="username" value="Username:" />
                <p:inputText id="username" value="#{loginCredentials.userId}" required="true" label="username" />

                <h:outputLabel for="password" value="Password:" />
                <p:password id="password" value="#{loginCredentials.password}" required="true" label="password" />

                <f:facet name="footer">
                    <p:commandButton value="Login" actionListener="#{identity.login}"
                                     oncomplete="/pages/public/index.jsf" />
                </f:facet>  
            </h:panelGrid>
        </h:form>

    </ui:define>
</ui:composition>

