<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core"
      template="/pages/public/index.xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets">
    
    <ui:define name="content">
        
        <h:form id="form">
            <p:dataGrid var="ad" value="#{todosAdesivosDataGrid.ads}" columns="3" layout="grid"
                        rows="12" paginator="true" id="ads"
                        paginatorTemplate="{CurrentPageReport}  {FirstPageLink} {PreviousPageLink} {PageLinks} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                        rowsPerPageTemplate="6,12,16">

                <f:facet name="header">
                    Adesivos
                </f:facet>

                <p:panel header="#{ad.descricao}" style="text-align:center">
                    <h:panelGrid columns="1" style="width:100%">
                        <p:graphicImage name="demo/images/car/a.gif"/> 

                        <h:outputText value="#{ad.preco}" />

                        <p:commandLink update=":form:adDetail" oncomplete="PF('adDialog').show()" title="Detalhes">
                            <h:outputText styleClass="ui-icon ui-icon-search" style="margin:0 auto;" />
                            <f:setPropertyActionListener value="#{ad}" target="#{todosAdesivosDataGrid.selectedAd}" />
                        </p:commandLink>
                    </h:panelGrid>
                </p:panel>

            </p:dataGrid>

            <p:dialog header="Detalhes" widgetVar="adDialog" modal="true" showEffect="fade" hideEffect="fade" resizable="false">
                <p:outputPanel id="adDetail" style="text-align:center;">
                    <p:panelGrid  columns="2" rendered="#{not empty todosAdesivosDataGrid.selectedAd}" columnClasses="label,value">
                        <f:facet name="header">
                            <p:graphicImage name="demo/images/car/a-big.gif"/> 
                        </f:facet>

                        <h:outputText value="Id:" />
                        <h:outputText value="#{todosAdesivosDataGrid.selectedAd.id}" />

                        <h:outputText value="Descricao: " />
                        <h:outputText value="#{todosAdesivosDataGrid.selectedAd.descricao}" />

                        
                        <h:outputText value="Preço: " />
                        <h:outputText value="#{todosAdesivosDataGrid.selectedAd.preco}"/>

                        <h:outputText value="Quant: "/>
                        <h:inputText value="#{carrinhoCompraMB.quant}"/>
                       
                        <p:commandButton actionListener="#{carrinhoCompraMB.addAdesivo(todosAdesivosDataGrid.selectedAd)}" value="Adicionar no Carrinho"/>                    

                    </p:panelGrid>
                </p:outputPanel>
            </p:dialog>
        </h:form>
    </ui:define>
</ui:composition>

